/* variebles */
:root {
  --bg-color: hsl(0, 0%, 90%);
  --bg-color-secondary: hsl(0, 0%, 97%);
  --text-color: hsl(0, 0%, 10%);
  --text-color-secondary: hsl(0, 0%, 10%);
  --border-color: hsl(0, 0%, 30%);
  --border-color-light: hsl(0, 0%, 80%);
  --accent2:hsl(240, 100%, 80%);
  --accent1: hsl(237, 51%, 91%);
  --accent: hsl(240, 36%, 90%);
  --active-accent: hsl(240, 36%, 80%);
  --secondary-border-color: hsl(0, 0%, 20%);
  background-color: var(--bg-color);
}
/*                   | */
/* For Rough styling V */
.btn-blue {
  background-color: hsl(0, 0%, 98%);
}

.mx-6 {
  margin-right: 13rem !important;
  margin-left: 13rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}
.nav-links {
  background-color: rgb(239, 238, 238) !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  border-radius: 2rem !important;
  border: 1px solid transparent !important;
  transition: all 0.35s !important;
}
.nav-links:hover {
  background-color: var(--accent1) !important;
  border: 1px solid var(--border-color) !important;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.553) !important;
}
.nav-links.active {
  background-color: var(--accent1) !important;
  border: 1px solid var(--border-color) !important;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.553) !important;
}

