/* variebles */
.body-light {
  --bg-color: hsl(0, 0%, 90%);
  --bg-color-secondary: hsl(0, 0%, 95%);
  --nav-link: hsl(0, 0%, 96%);
  --text-color: hsl(0, 0%, 10%);
  --text-color-secondary: hsl(0, 0%, 10%);
  --border-color: hsl(0, 0%, 30%);
  --border-color-light: hsl(0, 0%, 80%);
  --accent2: hsl(240, 100%, 80%);
  --accent1: hsl(237, 51%, 91%);
  --accent: hsl(240, 36%, 90%);
  --active-accent: hsl(240, 36%, 80%);
  --secondary-border-color: hsl(0, 0%, 20%);
  background: var(--bg-color);
}
.body-dark {
  --bg-color: hsl(0, 0%, 5%);
  --bg-color-secondary: hsl(0, 0%, 10%);
  --nav-link: hsl(0, 0%, 20%);
  --text-color: hsl(0, 0%, 95%);
  --text-color-secondary: hsl(0, 0%, 10%);
  --border-color: hsl(0, 0%, 60%);
  --border-color-light: hsl(0, 0%, 20%);
  --accent2: hsl(240, 100%, 80%);
  --accent1: hsl(237, 51%, 91%);
  --accent: hsla(240, 42%, 72%, 70%);
  --active-accent: hsl(240, 42%, 75%);
  --secondary-border-color: hsl(0, 0%, 20%);
  background: var(--bg-color);
}
/* .bg-body{
  background-color: var(--bg-color)
} */
html,
body,
#root {
  min-height: 100%;
  transition: all .1s ease-in-out;
}

/*                   | */
/* For Rough styling V */
.btn-blue {
  background-color: hsl(0, 0%, 98%);
}

.mx-6 {
  margin-right: 13rem !important;
  margin-left: 13rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}
.navbar-brand{
  color: var(--text-color) !important;
}
.nav-links {
  color: var(--text-color) !important;
  background-color: var(--nav-link) !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  border-radius: 2rem !important;
  border: 1px solid transparent !important;
  transition: all 0.35s !important;
}
.nav-links:hover {
  color: var(--text-color-secondary) !important;
  background-color: var(--accent1) !important;
  border: 1px solid var(--border-color) !important;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.553) !important;
}
.nav-links.active {
  color: var(--text-color-secondary) !important;
  background-color: var(--accent1) !important;
  border: 1px solid var(--border-color) !important;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.553) !important;
}
.bg-nav-bg {
  color: var(--text-color) !important;
  background: var(--bg-color-secondary);
}
