/* whole todo page's container */
.todo-container {
  margin-top: 4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Add button */
.btn-add {
  border: none !important;
  padding: 0 !important;
  margin-right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
}
.btn-add svg {
  display: block;
  margin: auto;
}
/* input to add list */
.todo-form-outline {
  border: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}
.todo-input {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  padding: 0.2rem 2rem;
  height: 2.5rem;
  width: 20rem;
}
.todo-input:focus {
  outline: none;
}
/* styling for each list items */
.todo-list-container {
  margin: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
}

.todo-card{
  margin: 0 1rem ;
  font-size: large;
  z-index: 1;
}
.card-Text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.card-Text > .card-text,
.card-Text > .btn-delete {
  margin: 0;
  padding: 0;
}

.btn-delete {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  z-index: 2;
}
.btn-delete:focus{
  --bs-btn-close-focus-shadow: 0 0 0 0;
}
/* modal styling */
.todo-form .todo-input {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.2rem 2rem;
}



@media (min-width: 1900px) {
  .todo-input {
    width: 30rem;
  }
}


